body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6d0d0;
}


* {
  box-sizing: border-box;
}

.h{
    height: auto;
    background:  #007bff;
    display: flex;
    flex: row wap;
     color: white;
     justify-content: center;
     align-items: center;
    
}
.h1{
    height: auto;   
    display: flex;
    flex: row wap;
     color: white;
     justify-content: center;
     align-items: center;
    
}
.headline h4{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
     background:  #007bff;
     margin-left: 300px;

   
     
    
}

 .headline1{
 flex:30%;       
    align-items: center;   
 margin-left: -1%;
   margin-right: 10%;  
   color: white;
    background:  #007bff;  
    justify-content: center; 
    height: 375px; 
    text-align: center;
}



.img4{  
     flex:60%;
    margin-right: 1%;   
     margin-left: 100px; 
      background:  #007bff;
    
} 
.carrinho-btn{
    background: rgb(69, 233, 69);
    color: white;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
      padding-right: 50px;
    padding-left: 50px;

}
.carrinho-btn:hover{ 
    background:white;
    color: rgb(69, 233, 69);
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;

}