*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    
}


section h4{
    width: 100%;
    font-size: 30px;
    margin: 0;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
color:  rgb(255, 255, 255);
 margin-top: 1px;  

}

.serviços{
    display: inline-block;
    margin-top: 6%;  

}
.icones{
   display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 2%;
   
}
.section1{
    background: rgb(6, 60, 78);

}

section{
   text-decoration: none;
    background-image: url(../imagens-da-pagina/testemunha-bg.jpg);
   background-position: center;
    display: inline-block;
     background-size: cover;
      width: 90%;
    font-size: 30px;
    margin: 0;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;      
    padding: 5%;  
 margin-top: 1px;  
   text-align: center;    
    justify-content: center;
      align-items: center;
   
}  
  
section h5{
    width: 100%;
    font-size: 40px;
    margin: 0;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
color: rgb(6, 60, 78); 
justify-content: center;
align-items: center;
}

.Depoimentos{
    display: inline-block;
    margin-top: 5%;  
     display: flex;
    flex-flow: row wrap; 
    justify-content: center;   
   
}
.card{
     display: inline-block;
    width: 20%;
    padding: 5px;
    margin: 1%;
    opacity: 65%;   
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;

 
}
.img02{
    width: 100%;
    border-radius: 50%;
    height: 200px;
   border: 2px solid rgb(229, 242, 247);
   justify-content: center;
}
.card:hover{
    background: rgb(10, 58, 90);
    color: rgb(222, 227, 231);
    padding: 3%;
      opacity: 65%;   

}

footer{
    text-align: center;
    color: rgb(222, 227, 231);
    height: 90px;
    background:  rgb(10, 58, 90) ;
    padding: 100px;
    margin-left: 5%;
    margin-right: 5% ;
    margin-top: 0;
 
    



}



